doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      localStorage.setItem('token', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJ1c2VyMSIsImNyZWF0ZWRBdCI6ImNyZWF0ZWRBdCIsImlhdCI6MTU4MjA2OTgxM30.VV17JZGoD03nAXMiZSLGpLGzCCXJWLbQNmqZLuHMOvM');
      localStorage.setItem('email', 'anvh87@gmail.com');
  body
    block content